<form class="form-horizontal" [formGroup]="forms" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" formControlName="email">
  </div>

  <div class="mb-3">
    <label for="name" class="form-label">Nome</label>
    <input type="text" class="form-control" id="name" formControlName="nome">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
  <button type="btn" (click)="reset()" class="btn btn-secondary">Cancel</button>
</form>


