.converter-box {
  display: flex;
  width: 40%;
  margin: 50px auto;
  justify-content: space-around;
}

div {
  margin: 0 10px;
}

.converter-box > div {
  display: flex;
  flex-direction: column;
}

.converter-box > div label {
  font-size: 30px;
  margin-bottom: 20px;
}

.converter-box select, .converter-box input {
  width: 200px;
  height: 55px;
  font-size: 20px;
}

.box-value label {
  font-size: 30px;
  display: flex;
  flex-direction: column;
}

.box-value input {
  width: 200px;
  height: 50px;
  font-size: 23px;
}

p {
  font-size: 25px;
}
